# What is Python?
### Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

# What can Python do?
- Python can be used on a server to create web applications.
- Python can be used alongside software to create workflows.
- Python can connect to database systems. It can also read and modify files.
- Python can be used to handle big data and perform complex mathematics.
- Python can be used for rapid prototyping, or for production-ready software development.

# Why Python?
- Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
- Python has a simple syntax similar to the English language.
- Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
- Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
- Python can be treated in a procedural way, an object-oriented way or a functional way.

# Start with Python
### Print a statement

In [8]:
print("Hello, World")

Hello, World

In [11]:
print("I forgot to add this code")

I forgot to add this code

In [12]:
print("Welcome to the introductory class of Python Programming.")

Welcome to the introductory class of Python Programming.

# Let's do some arithmetic operation
### Addition

In [13]:
10+2

12

In [14]:
15+12

27

### Subtraction

In [15]:
50-30

20

In [16]:
30-16

14

### Multiplication

In [17]:
5*4

20

In [18]:
15*20

300

### Division

In [19]:
10/2

5.0

In [20]:
11/2

5.5

### Floor division

In [21]:
11//2

5

In [23]:
100//3

33

### Exponentiation

In [24]:
2**2

4

In [25]:
5**2

25

### Modulus

In [26]:
11%2

1

In [27]:
100%3

1

In [28]:
100%2

0

# Data Type
- Text Type
- Numeric Types
- Boolean Type
- Binary Types
- None Type

In [1]:
"This is the second class on Python"

'This is the second class on Python'

### Numeric Types
#### Integer and Float
#### Integer -> Whole Number
#### Float -> Real Number

In [2]:
10

10

In [3]:
10.333

10.333

### Booleans
##### True and False
##### False -> 0
##### True -> Other than 0

In [4]:
True

True

In [5]:
False

False

In [6]:
print(10>5)

True

In [7]:
print(5>10)

False

In [11]:
print(bool(1))

True

In [12]:
print(bool(0))

False

In [13]:
print(bool("Hello"))

True

In [9]:
None

### Getting the Data Type

In [14]:
type("Hello Everyone")

str

In [15]:
type("This is the Python Class")

str

In [16]:
type("123")

str

In [17]:
type(123)

int

In [18]:
type(123.123)

float

In [19]:
type(True)

bool

In [20]:
type(False)

bool

In [22]:
type(0)

int

In [21]:
type(None)

NoneType

# Variable
### What is variable?
Python Variable is containers that store values

### Rules for Python variables
- A Python variable name must start with a letter or the underscore character.
- A Python variable name cannot start with a number.
- A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
- Variable in Python names are case-sensitive (name, Name, and NAME are three different variables).
- The reserved words(keywords) in Python cannot be used to name the variable in Python.

In [35]:
first_name = "Asif"

In [26]:
name = "Asif Iqbal"

In [36]:
print(first_name)

Asif Iqbal

In [23]:
a = 5

In [24]:
print(a)

5

In [37]:
first$name = "Asif Iqbal"

SyntaxError: invalid syntax (2204693106.py, line 1)

In [39]:
FirstName = "Asif"

In [42]:
print(FirstName)

Asif

In [43]:
False = "Asif"

SyntaxError: cannot assign to False (2918313104.py, line 1)

In [45]:
First_Name = "Asif"

In [48]:
FirstName = "Asif"

### Python Assign Values to Multiple Variables

In [49]:
a = 7
b = 7
c = 7

In [58]:
a = b = c = 7

In [61]:
print(a)

7

### How does + operator work with variables?

In [63]:
a = 10
b = 20
print(a+b)

30

In [67]:
a = "My Name is"
b = "Asif Iqbal"

print(a + " " + b)

My Name is Asif Iqbal

### Casting a variable

In [68]:
number = "122334455"

In [69]:
type(number)

str

In [70]:
new_number = int(number)

In [71]:
type(new_number)

int

In [77]:
char = "123"

In [78]:
new_char = int(char)

In [79]:
print(new_char)

123

In [80]:
int(True)

1

In [81]:
bool(0)

False

In [83]:
bool("Hello")

True

In [84]:
a = 10.112
new_a = int(a)

In [87]:
print(a)

10.112

In [86]:
print(new_a)

10

In [88]:
b = 10
new_b = float(b)

In [89]:
print(b)

10

In [90]:
print(new_b)

10.0

### Get the variable type

In [91]:
type(b)

int

In [92]:
type(new_b)

float

### Print Variables

In [93]:
a = 10
b = 20
print(a+b)

30

In [106]:
first_name = "Asif "
second_name = "Iqbal"

print(first_name + second_name)

Asif Iqbal

In [108]:
a = 10
b = 20
print(a, b)

10 20

In [107]:
first_name = "Asif"
second_name = "Iqbal"

print(first_name, second_name)

Asif Iqbal

In [94]:
Year = 2024
print("This is year" + Year)

TypeError: can only concatenate str (not "int") to str

In [98]:
Year = 2024
print("This is year " + str(Year))

This is year 2024

In [100]:
Date = 11
Month = "May"
Year = 2024
print("Today is" + " " + str(11) + "th " + Month + ", " + str(Year) + ".")

Today is 11th May, 2024.

### Different Type of Variable Print

In [104]:
Date = 11
Month = "May"
Year = 2024
print(f"Today is {Date}th {Month}, {Year}.")
print(f"Today is {Month} {Date}th, {Year}.")

Today is 11th May, 2024.
Today is May 11th, 2024.

In [105]:
Date = 11
Month = "May"
Year = 2024
print("Today is {}th {}, {}.".format(Date, Month, Year))
print("Today is {} {}th, {}.".format(Month, Date, Year))

Today is 11th May, 2024.
Today is May 11th, 2024.

In [120]:
1/0

ZeroDivisionError: division by zero

# Comment in Python
### Single Line Comment

In [110]:
# Today is May 11th
# We are taking Python class

print("Hello World") # This is a line to print in Python

Hello World

In [111]:
# Today is May 11th
# We are taking Python class

print("Hello World") # This is a line to print in Python

### Multiline Comment

In [115]:
print("Hello World")
# print("Do not print this line")
# print("Do not print this line")
# print("Do not print this line")
# print("Do not print this line")
# print("Do not print this line")
# print("Do not print this line")
print("Goodbye")

Hello World
Goodbye

In [117]:
'''
Today is May 11th
We are taking Python class
'''
print("Hello World")

Hello World

In [119]:
"""
Today is May 11th
We are taking Python class
asa
d
asdad
as
"""
print("Hello World")

Hello World

# Python Strings

In [122]:
print("This is our second class in Python")

This is our second class in Python

In [124]:
print("0111223445666")

0111223445666

### Multiline Strings

In [130]:
a = """The limerick packs laughs anatomical
Into space that is quite economical.
But the good ones I've seen
So seldom are clean
And the clean ones so seldom are comical."""

b = '''The limerick packs laughs anatomical
Into space that is quite economical.
But the good ones I've seen
So seldom are clean
And the clean ones so seldom are comical.'''

In [131]:
print(b)

The limerick packs laughs anatomical
Into space that is quite economical.
But the good ones I've seen
So seldom are clean
And the clean ones so seldom are comical.

In [1]:
a = "The limerick packs laughs anatomical \n Into space that is quite economical. \n But the good ones I've seen \n So seldom are clean \n And the clean ones so seldom are comical."

In [2]:
print(a)

The limerick packs laughs anatomical
 Into space that is quite economical.
 But the good ones I've seen
 So seldom are clean
 And the clean ones so seldom are comical.

### Quotes Inside String

In [133]:
print("Frank Zappa says, 'So many books, so little time'")

Frank Zappa says, 'So many books, so little time'

In [134]:
print('Frank Zappa says, "So many books, so little time"')

Frank Zappa says, "So many books, so little time"

In [136]:
print("It's your choice")

It's your choice

### String <> Array
##### Char:  H e l l o
##### Index: 0 1 2 3 4

##### string[0] = H
##### string[1] = e
....
##### string[4] = o

In [5]:
string = "Hello"
print(string)

Hello

In [6]:
print(string[0])

H

In [7]:
print(string[1])

e

In [8]:
print(string[4])

o

### Slicing Strings
##### string [slicing_first_index : slicing_last_index+1]

In [12]:
name = "Asif Iqbal"

In [15]:
print(name[9])

l

In [18]:
print(name[2:6])

if I

In [19]:
print(name[2:])

if Iqbal

### Modify Strings

In [ ]:
name = "Asif Iqbal"

In [26]:
print(name.upper())

ASIF IQBAL

In [27]:
print(name.lower())

asif iqbal

In [29]:
name = "     Asif Iqbal        "

print(name.strip())

Asif Iqbal

In [32]:
name = "Asif Iqbal"
name = name.replace("A", "O")

In [33]:
print(name)

Osif Iqbal

In [35]:
name = "This is a very nice day ."
print(name.split())

['This', 'is', 'a', 'very', 'nice', 'day', '.']

### Concat Strings

In [36]:
a = "This"
b = "is the second"
c = "class on python"

In [39]:
final_string = a + " " + b + " " + c

In [40]:
print(final_string)

This is the second class on python

### Escape Characters

In [42]:
text = "This is the second class on \"Python\""

In [43]:
print(text)

This is the second class on "Python"

In [44]:
a = "The limerick packs laughs anatomical \n Into space that is quite economical. \n But the good ones I've seen \n So seldom are clean \n And the clean ones so seldom are comical."

In [45]:
print(a)

The limerick packs laughs anatomical
 Into space that is quite economical.
 But the good ones I've seen
 So seldom are clean
 And the clean ones so seldom are comical.

In [47]:
print("You may use \\n to create a new line.")

You may use \n to create a new line.

In [49]:
print('Frank Zappa says, \'So many books, so little time\'')

Frank Zappa says, 'So many books, so little time'

# Operators

###### Unary Operators -> One variable requires
###### Binary Operators -> Two variables require
###### Ternary Operators -> Three variables require

In [2]:
a = 5 # Assign

In [3]:
a = a + 5
print(a)

10

In [4]:
a += 5
print(a)

15

In [6]:
a = a - 5
a -= 5

In [7]:
a = a * 5
a *= 5

In [ ]:
a = a/5
a /= 5

In [ ]:
a = a // 5
a //= 5

In [ ]:
a = a**5
a **= 5

In [ ]:
a = b

In [12]:
a = 5
b = 7

print(a == b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a != b)

False
False
True
False
True
True

In [ ]:
# Identity Operators

In [107]:
# Membership Operators
list2 = ['d', 'e', 'f']

for i in list2:
    print(i)

d
e
f

# Lists

In [13]:
car = ["Fiat", "BMW", "Audi", "Tesla"]

In [14]:
car = ["Fiat", "BMW", "Audi", "Tesla", 1, 1.233, True]

### List Items
- List items are ordered, changeable, and allow duplicate values.
- List items are indexed, the first item has index [0], the second item has index [1] etc.

### Ordered
- When we say that lists are ordered, it means that the items have a defined order, and that order will not change.
- If you add new items to a list, the new items will be placed at the end of the list.

In [64]:
car = ["Fiat", "BMW", "Audi", "Tesla"]

In [24]:
print(car[3])

Tesla

In [25]:
print(len(car))

4

In [32]:
list1 = [True, False, False, True]
list2 = [1, 4, 6, True, False,        3,       5,       6,    False]

In [30]:
print(list2)

[1, 4, 6, True, False, 3, 5, 6, False]

In [33]:
car = ["Fiat", "BMW", "Audi", "Tesla"]

In [34]:
type(car)

list

### List Items

In [45]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Tata"]

In [46]:
print(car[2])

Audi

In [47]:
## list_name[starting_index : ending_index + 1]
print(car[2:5])

['Audi', 'Tesla', 'Honda']

In [48]:
print(car[4:])

['Honda', 'Ford', 'Tata']

In [49]:
print(car[:3])

['Fiat', 'BMW', 'Audi']

In [63]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Tata"]
print(car[:2])
print(car[:])

['Fiat', 'BMW']
['Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford', 'Tata']

In [53]:
print(car)

['Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford', 'Tata']

In [60]:
print(car[1][2])

W

In [69]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car[2] = "Tata"
print(car)

In [73]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car[2:4] = ["Tata", "Toyota"]
print(car)

['Fiat', 'BMW', 'Tata', 'Toyota', 'Honda', 'Ford']

In [75]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car[2:3] = ["Tata", "Toyota"]
print(car)

['Fiat', 'BMW', 'Tata', 'Toyota', 'Tesla', 'Honda', 'Ford']

In [76]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car[2:6] = ["Tata", "Toyota"]
print(car)

['Fiat', 'BMW', 'Tata', 'Toyota']

In [80]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car[2:2] = ["Tata", "Toyota"]
print(car)

['Fiat', 'BMW', 'Tata', 'Audi', 'Tesla', 'Honda', 'Ford']

In [83]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car.insert(2, "Tata")
print(car)

['Fiat', 'BMW', ['Tata', 'Toyota'], 'Audi', 'Tesla', 'Honda', 'Ford']

In [88]:
car = ["Fiat", "BMW", ["Audi", "Tesla"], "Honda", "Ford"]
print(car[2][1])

Tesla

### Add and Remove List Items

In [89]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car.append("Tata")
print(car)

['Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford', 'Tata']

In [90]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car.insert(2, "Tata")
print(car)

['Fiat', 'BMW', 'Tata', 'Audi', 'Tesla', 'Honda', 'Ford']

In [91]:
car1 = ["Fiat", "BMW", "Audi"]
car2 = ["Tesla", "Honda", "Ford"]

car1.extend(car2)
print(car1)
print(car2)

['Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford']
['Tesla', 'Honda', 'Ford']

In [92]:
car1 = ["Fiat", "BMW", "Audi"]
car2 = ["Tesla", "Honda", "Ford"]

car2.extend(car1)
print(car1)
print(car2)

['Fiat', 'BMW', 'Audi']
['Tesla', 'Honda', 'Ford', 'Fiat', 'BMW', 'Audi']

In [93]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car.remove("Fiat")
print(car)

['BMW', 'Audi', 'Tesla', 'Honda', 'Ford']

In [94]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat"]
car.remove("Fiat")
print(car)

['BMW', 'Audi', 'Tesla', 'Honda', 'Ford', 'Fiat']

In [95]:
car.remove("Fiat")
print(car)

['BMW', 'Audi', 'Tesla', 'Honda', 'Ford']

In [96]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat"]
print(car)

['Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford', 'Fiat']

In [49]:
car = ["Fiat", "BMW", "Audi"]

temp = car[0]
car[0] = car[2]
car[2] = temp

print(car)

['Audi', 'BMW', 'Fiat']

### Sort List

In [98]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car.sort()
print(car)

['Audi', 'BMW', 'Fiat', 'Ford', 'Honda', 'Tesla']

In [99]:
number = [5,6,123,123,4353,4565,5677]
number.sort()
print(number)

[5, 6, 123, 123, 4353, 4565, 5677]

In [100]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car.sort(reverse = True)
print(car)

['Tesla', 'Honda', 'Ford', 'Fiat', 'BMW', 'Audi']

In [101]:
number = [5,6,123,123,4353,4565,5677]
number.sort(reverse= True)
print(number)

[5677, 4565, 4353, 123, 123, 6, 5]

### Join Lists

In [102]:
list1 = ['a', 'b', 'c']
list2 = ['d', 'e', 'f']

list1.extend(list2)
print(list1)
print(list2)

['a', 'b', 'c', 'd', 'e', 'f']
['d', 'e', 'f']

In [134]:
list1 = ['a', 'b', 'c']
list2 = ['d', 'e', 'f']

for item in list2:
    list1.append(item)
print(list1)

['a', 'b', 'c', 'd', 'e', 'f']

In [108]:
list1 = ['a', 'b', 'c']
list2 = ['d', 'e', 'f']

list3 = list1 + list2
print(list1)
print(list2)
print(list3)

['a', 'b', 'c']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

# Tuple

In [110]:
car = ("Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford")

In [111]:
print(car)

('Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford')

In [112]:
print(type(car))

<class 'tuple'>

### Tuple items are ordered, unchangeable, and allow duplicate values.
### Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [113]:
car = ("Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford")

In [115]:
car = ("Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat")
print(car)

('Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford', 'Fiat')

In [116]:
car[2] = "Tata"

TypeError: 'tuple' object does not support item assignment

### You may check the tuple as you check the list

In [117]:
car = ("Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat")

In [118]:
print(car[2:5])

('Audi', 'Tesla', 'Honda')

In [119]:
print(car[4:])

('Honda', 'Ford', 'Fiat')

In [120]:
print(car[:4])

('Fiat', 'BMW', 'Audi', 'Tesla')

In [121]:
print(car[-4:-1])

('Tesla', 'Honda', 'Ford')

In [122]:
car[0] = "Tata"

TypeError: 'tuple' object does not support item assignment

### Add and Remove List Items

In [126]:
car = ("Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford")
car = list(car)
car.append("Tata")
car = tuple(car)

print(car)

('Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford', 'Tata')

In [129]:
car = ("Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford")
car = list(car)
car.remove("Fiat")
car = tuple(car)

print(car)

('BMW', 'Audi', 'Tesla', 'Honda', 'Ford')

In [130]:
car = ("Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford")
add = ("Tata",)
car = car + add

print(car)

('Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford', 'Tata')

# Set

In [131]:
car = {"Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"}

In [132]:
print(car)

{'Ford', 'BMW', 'Audi', 'Tesla', 'Fiat', 'Honda'}

In [133]:
print(type(car))

<class 'set'>

### Set items are unordered, unchangeable, and do not allow duplicate values.

In [135]:
car = {"Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"}
print(car)

{'Ford', 'BMW', 'Audi', 'Tesla', 'Fiat', 'Honda'}

In [136]:
car = {"Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat"}
print(car)

{'Ford', 'BMW', 'Audi', 'Tesla', 'Fiat', 'Honda'}

In [139]:
car = {"Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat"}
print(len(car))

6

In [140]:
print(car)

{'Ford', 'BMW', 'Audi', 'Tesla', 'Fiat', 'Honda'}

In [141]:
print(type(car))

<class 'set'>

In [142]:
car = set(("Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat"))
print(car)

{'Ford', 'Tesla', 'Fiat', 'Honda', 'BMW', 'Audi'}

### Access Set Items

In [143]:
car = {"Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat"}
for x in car:
    print(x)

Ford
BMW
Audi
Tesla
Fiat
Honda

In [145]:
car = {"Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat"}
print("Fiat" in car)

True

### List/Tuple/Set application

In [148]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat", "Ford", "Tesla", "Tesla"]
car = set(car)
car = list(car)

print(car)

['Ford', 'Tesla', 'Fiat', 'Honda', 'BMW', 'Audi']

### Add Set Items

In [150]:
car = {"Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat"}
car.add("Tata")
print(car)

{'Ford', 'BMW', 'Audi', 'Tesla', 'Fiat', 'Tata', 'Honda'}

In [151]:
car1 = {"Fiat", "BMW", "Audi"}
car2 = {"Tesla", "Honda", "Ford", "Fiat"}

car1.update(car2)
print(car1)
print(car2)

{'Ford', 'BMW', 'Audi', 'Tesla', 'Fiat', 'Honda'}
{'Tesla', 'Ford', 'Fiat', 'Honda'}

In [152]:
shop1 = {"Tesla", "Honda", "Ford", "Fiat"}
shop2 = {"Fiat", "BMW", "Audi"}

diff = shop1 - shop2
print(diff)

{'Tesla', 'Ford', 'Honda'}

In [154]:
shop1 = {"Tesla", "Honda", "Ford", "Fiat"}
shop2 = {"Fiat", "BMW", "Audi"}

inter = shop1.intersection(shop2)
print(inter)
print(shop1)
print(shop2)

{'Fiat'}
{'Tesla', 'Ford', 'Fiat', 'Honda'}
{'Fiat', 'BMW', 'Audi'}

In [155]:
shop1 = {"Tesla", "Honda", "Ford", "Fiat"}
shop2 = {"Fiat", "BMW", "Audi"}

inter = shop1.union(shop2)
print(inter)
print(shop1)
print(shop2)

{'Ford', 'BMW', 'Audi', 'Tesla', 'Fiat', 'Honda'}
{'Tesla', 'Ford', 'Fiat', 'Honda'}
{'Fiat', 'BMW', 'Audi'}

# Dictionaries

In [156]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}

In [157]:
print(type(car))

<class 'dict'>

In [158]:
print(car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}

### Here, the key is "brand", "model", "year" and the value is "Ford", "Mustang", and 1964
### Dictionary is ordered and changeable

In [159]:
car = ["Tesla", "Honda", "Ford", "Fiat"]
print(car[1])

Honda

In [162]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}

print(car["Brand"])
print(car["Model"])
print(car["Year"])

Ford
Mustang
1964

In [163]:
print(len(car))

3

In [172]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}

print(car.keys())

dict_keys(['Brand', 'Model', 'Year'])

In [165]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}

print(car.values())

dict_values(['Ford', 'Mustang', 1964])

In [166]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}

print(car.items())

dict_items([('Brand', 'Ford'), ('Model', 'Mustang'), ('Year', 1964)])

In [168]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}
print(car)
car["Brand"] = "Fiat"
print(car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}
{'Brand': 'Fiat', 'Model': 'Mustang', 'Year': 1964}

In [169]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}

print(car)
car["Color"] = "Black"
print(car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}
{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964, 'Color': 'Black'}

In [170]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}

print(car)
car.update({"Color": "Black"})
print(car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}
{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964, 'Color': 'Black'}

In [1]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}

print(car)
car.pop("Model")
print(car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}
{'Brand': 'Ford', 'Year': 1964}

In [2]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}

print(car)
car.popitem()
print(car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}
{'Brand': 'Ford', 'Model': 'Mustang'}

In [3]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}

print(car)
del car["Brand"]
print(car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}
{'Model': 'Mustang', 'Year': 1964}

### Nested Dictionaries and Lists

In [8]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}

In [10]:
print(type(car["Brand"]))

<class 'str'>

In [4]:
student = {
    "Asif": {"Class": 12, "Major": "CSE", "Section": "A"},
    "Dipon": {"Class": 12, "Major": "EEE", "Section": "B"}
}

In [7]:
print(type(student["Dipon"]))

<class 'dict'>

In [15]:
print(student["Asif"]["Section"])

A

In [17]:
car = ["Fiat", "Ford", "Audi", ["BMW", "Tesla"]]
print(car)

['Fiat', 'Ford', 'Audi', ['BMW', 'Tesla']]

In [23]:
print(car[3][1])

Tesla

In [24]:
student = {
    "Asif": {"Class": 12, "Major": "CSE", "Section": "A"},
    "Dipon": {"Class": 12, "Major": "EEE", "Section": "B"},
    "Tomal": [12, "ME", "C"]
}

In [27]:
print( type(student["Tomal"]))

<class 'list'>

In [29]:
print(student["Tomal"] [1])

ME

In [34]:
info = {
  "first_name": "John",
  "last_name": "Smith",
  "is_alive": True,
  "age": 27,
  "address": {
    "street_address": "21 2nd Street",
    "city": "New York",
    "state": "NY",
    "postal_code": "10021-3100"
  },
  "phone_numbers": [
    {
      "type": "home",
      "number": "212 555-1234"
    },
    {
      "type": "office",
      "number": "646 555-4567"
    }
  ],
  "children": [
    "Catherine",
    "Thomas",
    "Trevor"
  ],
  "spouse": None
}

In [45]:
print(info["phone_numbers"][1]["number"])

646 555-4567

In [47]:
info["children"][0] = "Asif"
info["children"][1] = "Arif"
info["children"][2] = "Arafat"

In [48]:
print(info)

{'first_name': 'John', 'last_name': 'Smith', 'is_alive': True, 'age': 27, 'address': {'street_address': '21 2nd Street', 'city': 'New York', 'state': 'NY', 'postal_code': '10021-3100'}, 'phone_numbers': [{'type': 'home', 'number': '212 555-1234'}, {'type': 'office', 'number': '646 555-4567'}], 'children': ['Asif', 'Arif', 'Arafat'], 'spouse': None}

# If ... Else

### if (condition):
### &emsp; Code

In [51]:
a = 7
b = 5

if a>b:
    print("a is greater than b")

a is greater than b

### Indentation is important

In [55]:
a = 5
b = 7

if a>b:
    print("a is greater than b")
    print("Hello World")

print("This is outside if Block")

This is outside if Block

In [56]:
a = 5
b = 7

if a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [57]:
a = 5
b = 7

if a>b:
    print("a is greater than b")
elif a == b:
    print("a is equal to b")
else:
    print("b is greater than a")

b is greater than a

### We can write the statement in different way.

In [59]:
a = 5
b = 7

if a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [61]:
a = 5
b = 7

print("a is greater than b") if a>b else print("b is greater than a")

b is greater than a

### We can use and/or/not operation.

False and False = False <br>
False and True = False <br>
True and False = False <br>
True and True = True <br>

In [66]:
a = 100
b = 27
c = 500

if a>b and a>c:
    print("a is the largest number")
elif b>a and b>c:
    print("b is the largest number")
else:
    print("c is the largest")

c is the largest

False or False = False <br>
False or True = True <br>
True or False = True <br>
True or True = True <br>

### Nested IF

In [72]:
city = "Chittagong"
graduation = True
experienced = True
publication = 10

if city == "Chittagong":
    if graduation:
        if experienced:
            if publication > 5:
                print("You are selected for the Head of the Department")
            else:
                print("You are selected for the Senior post")
                
        else:
            print("You are selected for the Junior post")
    else:
        print("You are not selected for the post")
else:
    print("You are not selected for the post because of the city")

You are selected for the Head of the Department

# Python Loop

In [77]:
print(type(range(1,10)))

<class 'range'>

In [79]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [83]:
for i in range(1, 11):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [86]:
for i in range(1, 30, 3):
    print(i)

1
4
7
10
13
16
19
22
25
28

In [87]:
for i in range(30, 1, -3):
    print(i)

30
27
24
21
18
15
12
9
6
3

In [88]:
for i in range(1, 30, -3):
    print(i)

In [111]:
name = "Asif Iqbal"

for i in range(0, len(name)):   ## range(0, 10)
    print(name[i])

A
s
i
f

I
q
b
a
l

### Combine Condition with Loop

In [95]:
players = ["Sakib", "Tamim", "Mushfiq", "Liton", "Soummo", "Taskin"]

name = "Tamim"

for player in players:
    # print(player)
    if name == player:
        print("You are selected")

In [98]:
players = ["Sakib", "Tamim", "Mushfiq", "Liton", "Soummo", "Taskin"]

name = "Tamim"
flag = False

for player in players:
    if name == player:
        print("You are selected")
        flag = True


if flag == False:
    print("You are not selected")

You are selected

### Nested For Loop

In [101]:
players = ["Sakib", "Tamim", "Mushfiq"]

for player in players:
    print(player)
    for char in player:
        print(char)

Sakib
S
a
k
i
b
Tamim
T
a
m
i
m
Mushfiq
M
u
s
h
f
i
q

In [105]:
for i in range(1,10, 2):
    for j in range(1, 11):
        print(f"{i} * {j} = {i*j}")
    print("----------------------")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
----------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
----------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
----------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
----------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
----------------------

### While Loop

In [113]:
i = 1
while i < 6:
    print(i)
    i += 1  ## Without this, We may fall in Infinity Loop

1
2
3
4
5

# List Comprehension

In [115]:
cars = ["Fiat", "Ford", "BMW", "Tata", "Toyota", "Audi", "Volkswagen"]

new_list = []
for car in cars:
    if 'a' in car or 'A' in car:
        new_list.append(car)

print(new_list)

['Fiat', 'Tata', 'Toyota', 'Audi', 'Volkswagen']

In [116]:
cars = ["Fiat", "Ford", "BMW", "Tata", "Toyota", "Audi", "Volkswagen"]

new_list = [car for car in cars if 'a' in car or 'A' in car]

print(new_list)

['Fiat', 'Tata', 'Toyota', 'Audi', 'Volkswagen']

In [117]:
new_number = []
for i in range(1,11):
    if i>5:
        new_number.append(i)

print(new_number)

[6, 7, 8, 9, 10]

In [118]:
new_numeber = [i for i in range(1,11) if i>5]

print(new_number)

[6, 7, 8, 9, 10]

# Functions
### A function is a block of code that performs a specific task.

In [134]:
def print_statement():
    print("Hello World")
    print("This is Python programming class")

In [135]:
print("This is before calling a function")
print_statement()
print("This is after calling a function")

This is before calling a function
Hello World
This is Python programming class
This is after calling a function

In [56]:
def summation(x,y):
    return x+y

In [57]:
a = 10
b = 20
new_sum = summation(a, b)

new_sum = new_sum**2
print(new_sum)

900

In [147]:
x1 = 10
y1 = 15
x2 = 2
y2 = 3

distance = ( (x1-x2)**2 + (y1-y2)**2 )**.5
print(distance)

14.422205101855956

In [2]:
def distance(x_1, y_1, x_2, y_2):
    distance = ( (x_1-x_2)**2 + (y_1-y_2)**2 )**.5
    return distance

In [3]:
x1 = 10
y1 = 15
x2 = 2
y2 = 3

new_distance = distance(x1, y1, x2, y2)
print(new_distance)

14.422205101855956

In [4]:
a1 = 5
b1 = 4
a2 = 8
b2 = 9

new_distance = distance(a1, b1, a2, b2)
print(new_distance)

5.830951894845301

### Two things to remember, Parameter and Argument
Parameters are the variables listed inside the parentheses in the function definition. They act like placeholders for the data the function can accept when we call them.
Arguments are the actual values that we pass to the function when we call it.

In [15]:
def distance(x_1, y_1, x_2, y_2):
    distance = ( (x_1-x_2)**2 + (y_1-y_2)**2 )**.5
    return distance

In [12]:
x_1 = 10
y_1 = 15
x_2 = 2
y_2 = 3

new_distance = distance(x_1, y_1, x_2, y_2)
print(new_distance)

14.422205101855956

In [16]:
x1 = 10
y1 = 15
x2 = 2
y2 = 3

new_distance = distance(x1, x2, x2, y2)
print(new_distance)

8.06225774829855

In [17]:
def distance(x_axis_1, y_axis_1, x_axis_2, y_axis_2):
    distance = ( (x_axis_1-x_axis_2)**2 + (y_axis_1-y_axis_2)**2 )**.5
    return distance

In [19]:
x1 = 10
y1 = 15
x2 = 2
y2 = 3

new_distance = distance(y_axis_1 = y1, y_axis_2 = y2, x_axis_1 = x1, x_axis_2 = x2)
print(new_distance)

14.422205101855956

In [22]:
def print_date(Date, Month, Year, Hour, Min):
    print(f'Today is {Date}th {Month}, {Year}; {Hour}:{Min}')

In [23]:
print_date(24, "May", 2024, 3, 45)

Today is 24th May, 2024; 3:45

In [39]:
def print_date(Date, Month, Year, *args):
    if len(args) != 0:
        print(f'Today is {Date}th {Month}, {Year}; {args[0]}:{args[1]}')
    else:
        print(f'Today is {Date}th {Month}, {Year}')

In [43]:
print_date(24, "May", 2024)

Today is 24th May, 2024

## Default Parameter

In [44]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")

I am from Sweden

In [45]:
my_function("India")

I am from India

In [46]:
my_function()

I am from Norway

In [47]:
my_function("Brazil")

I am from Brazil

# Recursion

In [63]:
def factorial(value):
    if value == 0:
        return 1
    return value * factorial(value-1)

In [64]:
factorial(5)

120